---
layout: skeleton
---
<style>
  .bg-hero {
    background: url('{{site.baseurl}}/images/main-banner.png') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #EBF3F3;
  }
  
  .bp-hero h1 {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 1.3em;
    color: #3F3D56;
  }
  
  .partners-say h1 {
    font-size: 32px;
    letter-spacing: 0;
    line-height: 1.3em;
    color: #3F3D56;
  }
  
  .bp-hero p {
    color: #3F3D56;
  }
  
  .bp-hero-body {
    background: rgba(255, 255, 255, .75);
  }
  
  .bg-hero-bottom {
    background: {{site.colors.secondary-color}}
  }
  
  .helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }
  
  .is-hidden-desktop .helper {
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .isomer-agency-logo {
    vertical-align: middle;
    max-height: 125px;
  }
  
  .col-text {
    display: flex;
  }
  
  .col-text h3 {
    margin: auto;
    color: #3F3D56;
  }
  

</style>

<section class="bp-hero bg-hero">
  <div class="bp-hero-body">
    <div class="bp-container margin--top--lg">
      <div class="row is-vcentered is-centered ma">
        <div class="col is-9 has-text-centered">
          <h1 class="display padding--bottom--lg margin--none"><b>Welcome to HTA WP2020</b></h1>
          <p class="padding--bottom--lg"></p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="bp-section bg-newssection padding--top--xl">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>Minister Quote</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/img1.png">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half">
        <img src="/images/img1.png">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Minister Quote</b>
        </h3>
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half">
        <img src="/images/img1.png">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Minister Quote</b>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="bp-section">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>CE Address</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/img2.png" >
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>CE Address</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/img2.png">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>CE Address</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/img2.png">
      </div>
    </div>
  </div>
</section>



<section class="bp-section bg-hero-bottom">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
        <h1 class="padding--bottom"><b>Year in review</b></h1>
        <a href="/linkhere">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Watch Here
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bp-section bg-newssection padding--top--xl">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <a href="/linkhere">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Button
          </div>
        </a>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/img3.png">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half">
        <img src="/images/img3.png">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <a href="/linkhere">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Button
          </div>
        </a>
        </h3>
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half">
        <img src="/images/img3.png">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <a href="/linkhere">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Button
          </div>
        </a>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="bp-section">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <a href="/linkhere">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Button
          </div>
        </a>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/img4.png" >
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <a href="/linkhere">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Button
          </div>
        </a>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/img4.png">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <a href="/linkhere">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Button
          </div>
        </a>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/img4.png">
      </div>
    </div>
  </div>
</section>
