---
layout: skeleton
---
<style>
  .bg-hero {
    background: url('{{site.baseurl}}/images/hero-banner-supplyally.png') no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #EBF3F3;
  }
  
  .bp-hero h1 {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 1.3em;
    color: #3F3D56;
  }
  
  .partners-say h1 {
    font-size: 32px;
    letter-spacing: 0;
    line-height: 1.3em;
    color: #3F3D56;
  }
  
  .bp-hero p {
    color: #3F3D56;
  }
  
  .bp-hero-body {
    background: rgba(255, 255, 255, .75);
  }
  
  .bg-hero-bottom {
    background: {{site.colors.secondary-color}}
  }
  
  .helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }
  
  .is-hidden-desktop .helper {
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .isomer-agency-logo {
    vertical-align: middle;
    max-height: 125px;
  }
  
  .col-text {
    display: flex;
  }
  
  .col-text h3 {
    margin: auto;
    color: #3F3D56;
  }
  
  #howsupplyallyworks .bp-section {
    padding: 0.1rem 1.5rem;
  }
  
  #howsupplyallyworks h2 {
    text-align: center;
  }
  
  #collaboration {
    background: #323232;
  }
  
  #collaboration_title {
    color: #FFF;
  }
  
  #collaboration_logo {
    margin: auto;
  }
  
  #collaboration_logo .isomer-agency-logo {
    max-height: 50px;
  }
</style>

<section class="bp-hero bg-hero">
  <div class="bp-hero-body">
    <div class="bp-container margin--top--lg">
      <div class="row is-vcentered is-centered ma">
        <div class="col is-9 has-text-centered">
          <h1 class="display padding--bottom--lg margin--none"><b>SupplyAlly helps you keep track whether a person receiving an item has received it before.</b></h1>
          <p class="padding--bottom--lg">Provides convenience to citizens while maintaining operational flexibility to different points and modes of distribution.</p>
          <a href="https://go.gov.sg/SupplyAlly" target="_blank" class="bp-button is-secondary is-uppercase search-button">Download Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="key-highlights" class="bp-section is-paddingless">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
      <div class="col">
        <div class="key-highlights-text">
          <h3 class="has-text-weight-semibold has-text-white padding--top--xs">4.2 million</h3>
          <p class="has-text-white-trans padding--bottom--sm">Masks distributed</p>
        </div>
      </div>
      <div class="col">
        <div class="key-highlights-text">
          <h3 class="has-text-weight-semibold has-text-white padding--top--xs">273</h3>
          <p class="has-text-white-trans padding--bottom--sm">Laptops distributed</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="howsupplyallyworks">
<section class="bp-section bg-newssection padding--top--xl">
  <h2><b>How SupplyAlly Works</b></h2>
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>Volunteer logins to SupplyAlly with specific QR code, Mobile No. and OTP</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-1.png" alt="Volunteer logins to SupplyAlly with specific QR code, Mobile No. and OTP">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half">
        <img src="/images/how-supplyally-works-1.png" alt="Volunteer logins to SupplyAlly with specific QR code, Mobile No. and OTP">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Volunteer logins to SupplyAlly with specific QR code, Mobile No. and OTP</b>
        </h3>
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half">
        <img src="/images/how-supplyally-works-1.png" alt="Volunteer logins to SupplyAlly with specific QR code, Mobile No. and OTP">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Volunteer logins to SupplyAlly with specific QR code, Mobile No. and OTP</b>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="bp-section">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>Person arrives at a physical collection point and presents identity card for collection</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-2.png" alt="Person arrives at a physical collection point and presents identity card for collection" />
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Person arrives at a physical collection point and presents identity card for collection</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-2.png" alt="Person arrives at a physical collection point and presents identity card for collection" />
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Person arrives at a physical collection point and presents identity card for collection</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-2.png" alt="Person arrives at a physical collection point and presents identity card for collection" />
      </div>
    </div>
  </div>
</section>

<section class="bp-section bg-newssection">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>Volunteer scans his identity card in SupplyAlly to verify eligibility</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-3.png" alt="Volunteer scans his identity card in SupplyAlly to verify eligibility">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half">
        <img src="/images/how-supplyally-works-3.png" alt="Volunteer scans his identity card in SupplyAlly to verify eligibility">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Volunteer scans his identity card in SupplyAlly to verify eligibility</b>
        </h3>
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half">
        <img src="/images/how-supplyally-works-3.png" alt="Volunteer scans his identity card in SupplyAlly to verify eligibility">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Volunteer scans his identity card in SupplyAlly to verify eligibility</b>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="bp-section">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>SupplyAlly checks backend on eligibility or/and any collection information</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-4.png" alt="SupplyAlly checks backend on eligibility or/and any collection information" />
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>SupplyAlly checks backend on eligibility or/and any collection information</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-4.png" alt="SupplyAlly checks backend on eligibility or/and any collection information" />
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>SupplyAlly checks backend on eligibility or/and any collection information</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-4.png" alt="SupplyAlly checks backend on eligibility or/and any collection information" />
      </div>
    </div>
  </div>
</section>

<section class="bp-section bg-newssection">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>Should eligibility check fails, the volunteer will see an error screen on the reason of failure</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-5.png" alt="Should eligibility check fails, the volunteer will see an error screen on the reason of failure">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half">
        <img src="/images/how-supplyally-works-5.png" alt="Should eligibility check fails, the volunteer will see an error screen on the reason of failure">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Should eligibility check fails, the volunteer will see an error screen on the reason of failure</b>
        </h3>
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half">
        <img src="/images/how-supplyally-works-5.png" alt="Should eligibility check fails, the volunteer will see an error screen on the reason of failure">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>Should eligibility check fails, the volunteer will see an error screen on the reason of failure</b>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="bp-section">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>When eligibility check passes, volunteers enters items collected into SupplyAlly and hands items to the person</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-6.png" alt="When eligibility check passes, volunteers enters items collected into SupplyAlly and hands items to the person" />
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>When eligibility check passes, volunteers enters items collected into SupplyAlly and hands items to the person</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-6.png" alt="When eligibility check passes, volunteers enters items collected into SupplyAlly and hands items to the person" />
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>When eligibility check passes, volunteers enters items collected into SupplyAlly and hands items to the person</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-6.png" alt="When eligibility check passes, volunteers enters items collected into SupplyAlly and hands items to the person" />
      </div>
    </div>
  </div>
</section>

<section class="bp-section bg-newssection">
  <div class="bp-container">
    <div class="row is-hidden-desktop is-hidden-tablet-only">
      <div class="col col-text is-half padding--bottom padding--top--xl">
        <h3 class="padding--bottom">
          <b>SupplyAlly database of entitlement is updated automatically</b>
        </h3>
      </div>
      <div class="col is-half">
        <img src="/images/how-supplyally-works-7.png" alt="SupplyAlly database of entitlement is updated automatically">
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-desktop">
      <div class="col is-half">
        <img src="/images/how-supplyally-works-7.png" alt="SupplyAlly database of entitlement is updated automatically">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>SupplyAlly database of entitlement is updated automatically</b>
        </h3>
      </div>
    </div>
    <div class="row is-hidden-mobile is-hidden-tablet-only">
      <div class="col is-half">
        <img src="/images/how-supplyally-works-7.png" alt="SupplyAlly database of entitlement is updated automatically">
      </div>
      <div class="col col-text is-half">
        <h3 class="padding--bottom">
          <b>SupplyAlly database of entitlement is updated automatically</b>
        </h3>
      </div>
    </div>
  </div>
</section>
</div>

<section class="bp-section">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
        <p class="padding--bottom eyebrow is-uppercase">
          Partners using SupplyAlly
        </p>
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-touch">
      <div class="col helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-engineeringgood.png" alt="Engineering Good"/>
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.png" alt="Ministry of Trade and Industry Singapore"/>
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-pa.png" alt="People's Association"/>
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-cdc.png", alt="Community Development Council"/>
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-desktop">
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-engineeringgood.png" alt="Engineering Good"/>
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.png" alt="Ministry of Trade and Industry Singapore"/>
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-pa.png" alt="People's Association"/>
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-cdc.png", alt="Community Development Council"/>
      </div>
    </div>
  </div>
</section>

<section class="bp-section bg-newssection partners-say">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl">
        <p class="padding--bottom eyebrow is-uppercase">
          What our partners say
        </p>
        <h1 class="padding--bottom--lg"><b>&ldquo;Engineering Good is thankful for GovTech's partnership. With SupplyAlly we hope to eliminate duplication in our efforts and optimise the effort of our volunteers and the beneficiary organisations.&rdquo;</b></h1>
        <div class="is-uppercase">
          <span>&dash; Johann (Executive Director, Engineering Good)</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bp-section bg-hero-bottom">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
        <h1 class="padding--bottom"><b>Ready to start?</b></h1>
        <p class="padding--bottom--lg">We will discuss with you on your needs and help you come onboard SupplyAlly</p>
        <a href="/contact-us">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Contact Us
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="collaboration" class="bp-section">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
        <p id="collaboration_title" class="padding--bottom eyebrow is-uppercase">
          A collaboration between
        </p>
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-touch">
      <div id="collaboration_logo" class="col is-8 helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-govtech.png" alt="Government Technolog Agency of Singapore"/>
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sndgo.svg" alt="Smart Nation and Digital Government Office"/>
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sgunited.svg" alt="SG United"/>
      </div>
    </div>
    <div id="collaboration_logo" class="row has-text-centered margin--top padding--bottom is-hidden-desktop">
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-govtech.png" alt="Government Technolog Agency of Singapore"/>
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sndgo.svg" alt="Smart Nation and Digital Government Office"/>
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-sgunited.svg" alt="SG United"/>
      </div>
    </div>
  </div>
</section>
